<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="dayOverview" class="container-fluid m-1 overviewTab pt-1 pb-1">
    <h1></h1>
    <div class="row">
        <div class="col-12">
            <form class="form-inline" id="dayOverviewForm">
                <input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inputDate"/>
                <label class="form-check-label mr-1">
                    <input class="form-check-input mb-2 mr-sm-2 mb-sm-0" type="radio" name="payMothodRadioBtn" value="Card" id="checkBcc"/> BCC
                </label>
                <label class="form-check-label">
                    <input class="form-check-input mb-2 mr-sm-2 mb-sm-0" type="radio" name="payMothodRadioBtn" value="Cash" id="checkCash"/> Cash
                </label>

                <label class="form-check-label">
                    <input class="form-check-input mb-2 mr-sm-2 mb-sm-0" type="radio" name="payMothodRadioBtn" value="all" id="checkAll"/> Beide
                </label>
            </form>
            <div id="result"></div>
        </div>
        <div class="col-12">
            <ul class="list-inline">
                <li class="list-inline-item" id="resultTotal"></li>
                <li class="list-inline-item" id="resultRestoTotal"></li>
                <li class="list-inline-item" id="resultTakewayTotal"></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>