<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="ticket" th:id="'ticket' + ${ticket.ticketNr}">
    <table class="table">
        <thead>
        <tr>
            <th>Nr</th>
            <th>omschrijving</th>
            <th>aantal</th>
            <th>totaal</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${ticket.items}">
            <td class="text-center" th:text="${item.item.quicklink}"></td>
            <td th:text="${item.item.name}"></td>
            <td class="text-center" th:text="${item.count}"></td>
            <td class="text-center" th:text="${item.totalPrice}"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center bg-primary text-white total" th:text="${ticket.totalPrice}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <form class="form-inline" id="addItem" th:action="@{/spring/guests/insert}">
            <input type="text" class="form-control col-10 mb-2 mr-sm-1 mb-sm-0" th:id="'inputTicket'+${ticket.tableNr}" placeholder="voeg een product toe"/>
            <button type="submit" class="col-1 text-center btn btn-primary">+</button>
        </form>
    </div>
</div>

<button th:fragment="newTicketBtn" th:id="'createNewTicketBtn'+${tableNr}" type="button" class="btn btn-primary btn-lg">voeg een ticket toe</button>

</body>
</html>