<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="ticket" th:id="'ticket' + ${ticket.ticketNr}">
    <input id="hiddenTicketNr" type="hidden" th:text="${ticket.ticketNr}" th:value="${ticket.ticketNr}" />
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Nr</th>
            <th>omschrijving</th>
            <th>aantal</th>
            <th>totaal</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${ticket.items}">
            <td>
                <button th:id="'btnExtra'+${ticket.ticketNr}+'_'+${item.item.quicklink}" type="button" class="btn btn-primary btn-sm" data-toggle="modal" th:attr="data-target='#modal'+${ticket.ticketNr}+'_'+${item.item.quicklink}">
                    config
                </button>
                <!-- Modal -->
                <div class="modal fade" th:id="'modal'+${ticket.ticketNr}+'_'+${item.item.quicklink}" tabindex="-1" role="dialog" th:attr="aria-labelledby='modalExtra'+${ticket.ticketNr}+'_'+${item.item.quicklink}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" th:id="'modalExtra'+${ticket.ticketNr}+'_'+${item.item.quicklink}">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <button data-dismiss="modal" th:onclick="'addExtraToTicketItem(\'rijst\',\''+${ticket.ticketNr}+'\',\''+${item.item.quicklink}+'\',\''+${ticket.tableNr}+'\')'" type="button" class="btnExtra btn btn-success col-2">
                                        rijst
                                    </button>
                                    <button data-dismiss="modal" th:onclick="'addExtraToTicketItem(\'friet\',\''+${ticket.ticketNr}+'\',\''+${item.item.quicklink}+'\',\''+${ticket.tableNr}+'\')'" type="button" class="btnExtra btn btn-success col-2">
                                        friet
                                    </button>
                                    <button data-dismiss="modal" th:onclick="'addExtraToTicketItem(\'nasi\',\''+${ticket.ticketNr}+'\',\''+${item.item.quicklink}+'\',\''+${ticket.tableNr}+'\')'" type="button" class="btnExtra btn btn-success col-2">
                                        nasi
                                    </button>
                                    <button data-dismiss="modal" th:onclick="'addExtraToTicketItem(\'bami\',\''+${ticket.ticketNr}+'\',\''+${item.item.quicklink}+'\',\''+${ticket.tableNr}+'\')'" type="button" class="btnExtra btn btn-success col-2">
                                        bami
                                    </button>
                                    <button data-dismiss="modal" th:onclick="'addExtraToTicketItem(\'mihoen\',\''+${ticket.ticketNr}+'\',\''+${item.item.quicklink}+'\',\''+${ticket.tableNr}+'\')'" type="button" class="btnExtra btn btn-success col-2">
                                        mihoen
                                    </button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
            <td class="text-center" th:text="${item.item.quicklink}"></td>
            <td>
                <div>
                    <span th:text="${item.item.name}"></span>
                    <div class="itemExtra" th:if="${item.extras}!=null" th:each="extra : ${item.extras}">
                        <div th:text="${extra.name}" class="badge badge-pill badge-info" style="float: left; margin-right: 1px"></div>
                    </div>
                    <div th:if="${item.extras}==null"></div>
                </div>
            </td>
            <td th:id="'itemCount'+${ticket.ticketNr}+'_'+${item.item.quicklink}" class="text-center" th:text="${item.count}"></td>
            <td class="text-center" th:text="'€ ' + ${item.totalPrice}"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
	            <button th:id="'payTicketModalBtn'+${ticket.ticketNr}" type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal" th:attr="data-target='#payModal'+${ticket.ticketNr}">
		            Betalen
	            </button>
	            <!-- Modal -->
	            <div class="modal fade" th:id="'payModal'+${ticket.ticketNr}" tabindex="-1" role="dialog" th:attr="aria-labelledby='payModalTitle'+${ticket.ticketNr}" aria-hidden="true">
		            <div class="modal-dialog" role="document">
			            <div class="modal-content">
				            <div class="modal-header">
					            <h5 class="modal-title" th:id="'#payModalTitle'+${ticket.ticketNr}">Modal title</h5>
					            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						            <span aria-hidden="true">&times;</span>
					            </button>
				            </div>
				            <div class="modal-body">
					            <h1>Te Betalen: <span class="badge badge-default" th:id="'amountToPay'+${ticket.ticketNr}" th:text="${ticket.totalPrice}"></span></h1>
                                <form class="form-control">
                                    <div class="input-group">
                                        <div class="input-group-addon">€</div>
                                        <input type="number" th:id="'payAmount'+${ticket.ticketNr}" th:onkeyup="'payAmountChanged(\''+${ticket.ticketNr}+'\')'"/>
                                        <button class="btn btn-success" th:onclick="'payTicket(\''+${ticket.ticketNr}+'\',\''+${ticket.tableNr}+'\',\'Card\')'" data-dismiss="modal">Card</button>
                                    </div>
                                </form>
                                <h2>Terug te geven: <span th:id="'payBackAmount'+${ticket.ticketNr}" class="badge badge-success"></span></h2>
				            </div>
				            <div class="modal-footer">
                                <button th:onclick="'payTicket(\''+${ticket.ticketNr}+'\',\''+${ticket.tableNr}+'\',\'Cash\')'" class="btn btn-primary" data-dismiss="modal">Betalen</button>
					            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				            </div>
			            </div>
		            </div>
	            </div>
            </td>
            <td class="text-center bg-primary text-white total" th:text="'€ ' + ${ticket.totalPrice}"></td>
        </tr>
        </tbody>

    </table>
    <div>
        <form class="form-inline" id="addItem">
            <div class="typeahead__container" style="width: 90%">
                <div class="typeahead__field">
                    <span class="typeahead__query">
                        <input type="search" class="form-control col-10 mb-2 mr-sm-1 mb-sm-0 js-typeahead" th:id="'inputTicket'+${ticket.ticketNr}" placeholder="voeg een product toe" autocomplete="off" style="width: 100%"/>
                    </span>
                </div>
            </div>
            <button type="submit" class="col-1 text-center btn btn-primary" th:id="'btnAddItem'+${ticket.ticketNr}" th:value="${ticket.ticketNr}" onclick="addItemToTicket(this)">+</button>
        </form>
    </div>

</div>
<button th:fragment="newTicketBtn" th:id="'createNewTicketBtn'+${tableNr}" type="button" class="btn btn-primary btn-lg">voeg een ticket toe</button>
</body>
</html>