.ticket {
    background-color: #d2d6D9;
    float: left;
    display: block;
    font-size: 0.9em;
    width: 100%;
}

.total {
    font-size: 2em;
    font-weight: bold;
}

.restaurantTable {
    margin: 10px 0;
}

.navbar {
    margin-bottom: 10px;
}

.itemExtra {
    font-size: 20px;
}