<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/global.js}"></script>
    <script type="text/javascript" th:src="@{/js/takeway.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.typeahead.js}"></script>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/global.css" th:href="@{/css/global.css}" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/jquery.typeahead.css" th:href="@{/css/jquery.typeahead.css}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bambou</title>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Bambou</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="restaurant.html">Restaurant</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">meenemen<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">configuration</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<div class="container-fluid">
    <div class="row" id="takewayTicketsContainer">
        <div th:id="'takewayTicketContent'+${ticket.ticketNr}" class="col-xs-12 col-sm-12 col-md-12 col-lg-6" th:each="ticket : ${tickets}">
            <button class="btn btn-info btn-block tableBtn" type="button" data-toggle="collapse" th:attr="data-target='#ticket'+${ticket.ticketNr},aria-controls='#ticket'+${ticket.tableNr},data-parent='#takewayTicketContent'+${ticket.ticketNr}" aria-expanded="false" th:onclick="'retrieveTicket(\''+${ticket.ticketNr}+'\')'">
                <div class="d-flex flex-row justify-content-between">
                    <div class="p-2" th:text="'Nr:' + ${ticket.ticketNr}"></div>
                    <div class="p-2" th:text="${ticket.name}" ></div>
                    <div class="p-2" th:text="'Uur:' + ${ticket.time}"></div>
                    <div class="p-2" th:text="'Total: €' + ${ticket.totalPrice}"></div>
                </div>
            </button>
            <div class="collapse" th:attr="id='ticket'+${ticket.ticketNr}">
                <div class="card card-block ticket">
                    <div th:id="'ticketContent' + ${ticket.ticketNr}">

                    </div>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary">New ticket</button>
        </div>
    </div>
</div>
</body>
</html>